/data/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
# Eclipse Core
.project

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

### Composer ###
composer.phar
vendor/
!/composer.lock

### Git ###
*.orig

### VisualStudioCode ###
.vscode/
.history

### Visual Paradigm ###
.vpprefdata/
*.vpp~*
*.vpp.*

### Environment Variables ###
*.env
application-local.yaml

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

### Linux ###
*~
.directory
.Trash-*
.nfs*